.nutan {
  background-color: #282c3f;
  display: flex;
}
.timtim {
  background-color: #282c3f22;
  display: flex;
}
.ayush1 {
  background-color: #282c3f;
  font-weight: 100;
  margin-left: 17px;
}
.ayush1 h2 {
  margin-top: 225px;
  margin-left: 12px;
  font-weight: 100;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.ayush3 h2 {
  margin-top: 275px;
  margin-left: 20px;
}
.ayush2 {
  background-color: #282c3f;
}
.ayush3 {
  background-color: #282c3f;
  margin-left: 17px;
  font-weight: 100;
}
.nutan1 {
  background-color: rgb(255, 255, 255);
  padding: 30px;
}
.ayush2 img {
  width: 100%;
  margin: 15px 5px;
}
.ayush2 .main_img {
  height: calc(100vh - 133px);
}
.ayush2 .sop img:hover {
  border: solid 3px rgb(247, 13, 13);
}
.sop {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
.ayush1 span {
  color: white;
  font-size: 22px;
  margin-left: 1px;
  display: block;
  margin-top: 16px;
  cursor: pointer;
}
.ayush1 h2 {
  margin-top: 235px;
  margin-left: 2px;
  font-size: 40px;
  color: white;
}
.ayush3 h2 {
  margin-top: 275px;
  margin-left: 1px;
  font-size: 40px;
  color: white;
  margin-right: 12px;
  font-weight: 100;
  cursor: pointer;
}
.sop img {
  width: 120px;
  margin-left: 10px;
}
.nutan2 {
  display: flex;
}

.nutan3 {
  background-color: white;
  height: 200px;
}
.nutan4 {
  background-color: white;
  height: 200px;
}
.nutan4 p {
  font-size: 15px;
  margin-left: 16px;
}
.nutan3 {
  display: flex;
  background-color: darkgreen;
  color: white;
  height: 17px;
  font-size: 12px;
  padding: 3px;
}
.tim3 {
  background-color: white;
  margin-top: 20px;
}
.tim3 h5 {
  font-size: 11px;
  margin-top: 3px;
  color: gray;
  margin-left: 20px;
}
.apple {
  margin-right: 30px;
  color: azure;
  margin-left: 192px;
  margin-top: -21px;
  display: flex;
}
.apple p {
  color: black;
  font-size: 13px;
  margin-left: 9px;
  margin-top: 5px;
  color: grey;
}
.apple1 {
  display: flex;
  margin-left: 30px;
  margin-top: 3px;
}
.apple1 p {
  color: grey;
  margin-top: 3px;
}
.app {
  color: gray;
}
.aoo {
  color: gray;
}
