.nutan {
  padding: 30px;
  border: solid 2px #d4d5d9;
  margin: 40px 80px;
}
.nutan1 h2 {
  margin-bottom: 20px;
  color: #282c3f;
  font-weight: 500;
  font-size: 20px;
}
.nutan1 {
  margin-left: 70px;
}
.nutan1 hr {
  margin-left: -21px;
}
.mood {
  margin: 31px 64px;
  border-color: #eaeaec;
}
.mood3 p {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(39, 43, 65, 0.7);
}
.mood2 {
  justify-content: space-between;
  display: flex;
  margin: 31px 64px;
  padding: 10px;
  border: solid 1px #d4d5d9;
}

.mood5 {
  display: flex;
  display: flex;
  position: relative;
  bottom: -10px;
  font-size: 16px;
}

.check {
  color: wheat;
  padding: 3px;
  font-size: 10px;
  display: block;
}
.mark {
  background-color: #03a685;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.mark1 {
  padding: 12px 32px;
  color: #282c3f;
  font-weight: 600;
}
.timtim {
  padding: 11px 10px;
  font-size: 15px;
  width: 100%;
}
.loog {
  display: flex;
  margin-left: 61px;
}
.loog1 p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
  color: rgb(62, 65, 82);
  margin-left: 55px;
}
.title {
  background-color: #ff3e6c;
}
.mandal6 {
  pointer-events: none;
  opacity: 0.4;
}
