.nutan {
  padding: 30px;
  border: solid 2px #d4d5d9;
  margin: 40px 80px;
}
.nutan1 h2 {
  margin-bottom: 20px;
  color: #282c3f;
  font-weight: 500;
  font-size: 20px;
}
.nutan1 {
  margin-left: 70px;
}
.nutan1 hr {
  margin-left: -21px;
}
.mood {
  margin: 31px 64px;
  border-color: #eaeaec;
}
.mood3 p {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(39, 43, 65, 0.7);
}
.mood2 {
  justify-content: space-between;
  display: flex;
  margin: 31px 64px;
  padding: 10px;
  border: solid 1px #d4d5d9;
}

.mood5 {
  display: flex;
  display: flex;
  position: relative;
  bottom: -10px;
  font-size: 16px;
}

.check {
  color: wheat;
  padding: 3px;
  font-size: 10px;
  display: block;
}
.mark {
  background-color: #03a685;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.mark1 {
  padding: 12px 32px;
  font-weight: 600;
}
.timtim {
  padding: 11px 10px;
  font-size: 15px;
  width: 100%;
}
.loog {
  display: flex;
  margin-left: 61px;
  cursor: pointer;
}
.loog1 p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
  color: rgb(62, 65, 82);
  margin-left: 55px;
}
.bet {
  border: solid 1px #d4d5d9;
  min-width: 332px;
  height: 40px;
}
.btn {
  border: solid 1px #d4d5d9;
  min-width: 332px;
  height: 40px;
}
.loog p {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
.loog_word {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
.mandal {
  margin-right: 5px;
  color: #ff3e6c;
}
.mandal1 {
  margin-right: 5px;
  color: #ff3e6c;
}
.btne {
  border: solid 1px #d4d5d9;
  min-width: 332px;
  height: 40px;
}
.bittu {
  border: solid 1px #d4d5d9;
  min-width: 663px;
  height: 40px;
  background-color: #ff3e6c;
}
.bittu1 {
  margin-left: 63px;
}
.bittu1 p {
  color: white;
  font-size: 15px;
}
.bittu2 {
  margin-left: 63px;
  margin-top: 30px;
}
.bittu3 {
  border: solid 1px #d4d5d9;
  min-width: 663px;
  height: 40px;
  background-color: white;
}
