.nutan {
  padding: 30px;
  border: solid 2px #d4d5d9;
  margin: 40px 80px;
}
.nutan1 h2 {
  margin-bottom: 20px;
  color: #282c3f;
  font-weight: 500;
  font-size: 20px;
}
.nutan1 {
  margin-left: 70px;
}
.nutan1 hr {
  margin-left: -21px;
}
.mood {
  margin: 31px 64px;
  border-color: #eaeaec;
}
.mood3 p {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(39, 43, 65, 0.7);
}
.mood2 {
  justify-content: space-between;
  display: flex;
  margin: 31px 64px;
  padding: 17px;
  border: solid 1px #d4d5d9;
}

.mood5 {
  display: flex;
  display: flex;
  position: relative;
  bottom: -10px;
  font-size: 16px;
}

.check {
  color: wheat;
  padding: 3px;
  font-size: 10px;
  display: block;
}
.mark {
  background-color: #03a685;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.mark1 {
  border: solid 1px #d4d5d9;
  width: 313px;
  font-size: 15px;
  padding: 12px;
}
.timtim {
  padding: 5px 10px;
  font-size: 15px;
  width: 100%;
}
.good1 {
  margin-bottom: 16px;
  position: relative;
}
.good1 span {
  color: #94969f;
  top: -6px;
  left: 12px;
  font-size: 12px;
  padding: 0px 2px;
  position: absolute;
  background-color: white;
}
.good1 input {
  border: solid 1px #d4d5d9;
  font-size: 16px;
  padding: 12px;
  height: auto;
  color: #282c3f;
  width: 100%;
}
