.nutan1 {
  display: flex;
  font-size: 15px;
  margin-left: 20xpx;
  color: gray;
}
.nutan1 h5 {
  font-weight: 400;
  width: max-content;
}
.bol {
  font-size: 10px;
  margin-left: 10px;
  margin: 3px;
  color: #b1b0b0;
}
.not {
  margin: 0 5px;
  padding: 6px 15px;
  border-radius: 30px;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.not:hover {
  background-color: #eaeded;
  cursor: pointer;
}
