.sop {
  width: 210px;
  position: relative;
}
.ayshu img {
  width: 210px;
  height: 280px;
}
.ayshu h3 {
  margin-bottom: -10px;
  margin-top: 20px;
}
.ayshu p {
  margin-bottom: 10px;
  margin-top: 20px;
  color: grey;
  font-size: 14px;
}
.car {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.top {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 7px;
}
.title {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
}
.bat p {
  margin-left: 10px;
}

.bat {
  border: 1px solid grey;
  justify-content: center;
  display: flex;
  width: 87%;
  align-items: center;
  border-radius: 3px;
  margin: auto;
  margin-top: 25px;
  height: 34px;
  cursor: pointer;
}
.sop:hover .timtim {
  display: block;
}
.timtim {
  display: none;
  position: absolute;
  bottom: 100px;
  background-color: white;
  width: 100%;
  z-index: 1;
  font-size: 14px;
  color: #535665;
  line-height: 1;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin-bottom: -85px;
  font-weight: 400;
  height: 122px;
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: rgb(236, 73, 100);
  background-color: white;
  border: 1px solid rgb(175, 174, 174);
  width: fit-content;
  position: absolute;
  bottom: 145px;
  right: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
.ball:hover .mobile-icon {
  margin-right: 10px;
}

.ball h5 {
  visibility: hidden;
  display: none;
}
.ball:hover h5 {
  transition: all 1s;
  display: inline-block;
  visibility: visible;
}
.name {
  position: absolute;
  bottom: 110px;
  left: 12px;
}

.egg {
  font-size: 14px;
  color: #535665;
  line-height: 1;
  display: none;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.nutan2 {
  margin-top: 30px;
}
.bat:hover {
  border-color: black;
}
