.timtim {
  display: flex;
}
.nutan1 h4 {
  color: #282c3f;
  cursor: pointer;
  padding-bottom: 20px;
}
.nutan1 li {
  color: #696b79;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
}
.nutan2 h5 {
  padding-bottom: 30px;
  color: #282c3f;
  margin-top: 30px;
}
.nutan2 li {
  color: #696b79;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
}
.kajal li {
  color: #696b79;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 30px;
}
.kajal h5 {
  color: #282c3f;
  margin-left: 30px;
  padding-bottom: 30px;
}
.kajal1 h5 {
  color: #282c3f;
  margin: -3px 0 0;
  padding: 3px 29px 25px;
}
.kajal2 {
  display: flex;
}
.sop {
  width: 166px;
  margin-left: 20px;
  height: 64px;
  margin-top: -4px;
}
.sop2 {
  width: 140px;
  margin-left: 187px;
  height: 134px;
  margin-top: -100px;
}
.kajal3 h5 {
  margin-top: 128px;
  margin-left: -293px;
  color: #282c3f;
}
.kajal3 img {
  width: 20px;
  margin-left: -292px;
  margin-top: 16px;
}
.kajal4 img {
  width: 20px;
  margin-left: -256px;
  margin-top: 160px;
}
.kajal5 img {
  width: 27px;
  margin-left: -230px;
  margin-top: 160px;
}
.kajal6 img {
  width: 20px;
  margin-left: -189px;
  margin-top: 160px;
}
.apple img {
  margin-left: 41px;
  width: 48px;
  height: 40px;
}
.apple2 img {
  margin-left: 41px;
  width: 50px;
  margin-top: 22px;
}
.apple {
  display: flex;
}
.app {
  color: #282c3f;
  font-weight: 700;
}
